uv pip install 
numpy==1.26.4 
pandas==2.2.3 
matplotlib==3.10.1 
seaborn==0.13.1 
plotly==5.19.0 
sqlalchemy==2.0.28 
ipython-sql==0.5.0 
jupysql==0.10.6 
duckdb==0.10.0 
duckdb-engine==0.10.0 
dash==2.15.0 
dash-bootstrap-components==1.5.0 
bokeh==3.3.4 
altair==5.2.0 
scikit-learn==1.4.1.post1 
statsmodels==0.14.1 
prophet==1.1.5 
tensorflow==2.15.0 
keras==2.15.0 
jupyter==1.0.0 
notebook==7.0.7 
jupyterlab==4.1.2 
nbconvert==7.16.0 
tqdm==4.66.2 
openpyxl==3.1.2 
xlrd==2.0.1 
python-dateutil==2.8.2 
kaleido==0.2.1